*~
.*.swp
*.[oa]
*.l[oa]
*.so
*.libs
*.deps
.dirstamp
libtool
/aclocal.m4
/autom4te.cache
/build-stamp
/config
/config.log
/config.guess
/config.status
/config.sub
/configure
/debian/files
/debian/vyatta-netflow
/debian/vyatta-netflow.postinst
/debian/vyatta-netflow.debhelper.log
/debian/vyatta-netflow.substvars
/INSTALL
/Makefile.in
/Makefile

