Source: vyatta-netflow
Section: contrib/net
Priority: extra
Maintainer: VyOS Package Maintainers <maintainers@vyos.net>
Build-Depends: debhelper (>= 5), autotools-dev, autoconf, automake, cpio
Standards-Version: 3.7.2

Package: vyatta-netflow
Architecture: all
Depends: perl,
 vyatta-cfg,
 vyatta-cfg-system,
 vyatta-op,
 pmacct (>= 1.6.0)
Description: VyOS commands for netflow
 VyOS configuration/operational templates and scripts for the netflow/sflow
 system (pmacct).
